* {
  font-family: "Smooch Sans", sans-serif;
}
.App {
  max-width: 1000px;
  margin: auto;
}
/* 
button {
  cursor: pointer;
}

.buttons input {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  margin: 10px;
  height: 30px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.header {
  text-align: center;
}

.dowhat {
  display: flex;
  justify-content: center;
  margin: auto;
}

.tasks {
  border: 1px solid black;
}

.wanttodo {
  width: 60%;
}

.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortbydate {
  display: flex;
  align-items: center;
}

.arrowdown {
  transform: rotate(180deg);
}

.filter-button {
  outline: none;
  font-size: 30px;
  height: fit-content;
  margin-right: 3px;
}

.filter-button:last-child {
  margin-right: 0px;
}

.delete {
  display: flex;
  align-items: center;
}

.pagination-button {
  font-size: 30px;
  font-weight: 600;
}

.wanttodo {
  font-weight: 600;
  font-size: 30px;
}
*/

.delete-todo {
  border: none;
  background: inherit;
  cursor: pointer;
  transition: 0.5s;
}

.trashcan:hover {
  fill: red;
  transition: 0.5s;
}
/*
.todoTasks {
  display: flex;
  justify-content: space-between;
}

.arrows {
  display: flex;
  
}

.trumbleA {

  animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
  0%, 50%, 100% {
      transform: rotate(0deg);
  }
  10%, 30% {
      transform: rotate(-10deg);
  }
  20%, 40% {
      transform: rotate(10deg);
  }
} */
/* .filter-button:hover {
  background-color: #ccffff;
}.pagination-button:hover {
  background-color: #ccffff;
} */
.LeftPart {
  max-width: 90px;
  font-weight: 600;
  font-size: 30px;
  display: flex;
  margin-top: 10px;
}
.RightPart {
  font-weight: 600;
  display: flex;
  font-size: 25px;
  margin-top: 10px;
}
.StatusButtons {
  font-size: 30px;
}
.Pagination {
  font-weight: 900;
}
